### 판다스 활용 데이터 분석

1. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오. 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오.

In [2]:
#1번 문제 풀이 작성

# (힌트) max([1,3,5]) = 5
# (힌트) min([1,3,5]) = 1
# -----------------------


# 리스트 만들기
result = []

for e in range(0, 3) :
  num = int(input(f'{e + 1}번째 숫자입력 : '))
  result.append(num)

answer = max(result) - min(result)
print(answer)

7

2. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 저장된 모든 데이터의 합을 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,2,3] , [4,5,6] / 결과 : 21

In [5]:
#2번 문제 풀이 작성

list1 = [10, 11, 12]
list2 = [20, 21, 22]

result = sum(list1 +list2)
print(result)

96

3. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 중복으로 저장된 데이터만을 갖는  새로운 리스트를 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,3,5,7,9] , [1,2,3,4,5] / 결과 : [1,3,5]

In [1]:
#3번 문제 풀이 작성

list3 = [1, 2, 3, 4, 5]
list4 = [4, 5, 6, 7, 8]

double_num = list(set(list3) & set(list4))
print(double_num)

[4, 5]

4. 이름, 나이, 국어점수, 영어점수, 국어점수를 데이터로 갖는 student 딕셔너리를 만드시오. 각 데이터는 키보드로 입력받아 저장하시오.

In [2]:
#4번 문제 풀이 작성
student = {}
student['이름'] = input('이름을 입력하세요 : ')
student['나이'] = int(input('나이를 입력하세요 : '))
student['국어점수'] = int(input('국어 점수를 입력하세요 : '))
student['영어점수'] = int(input('영어 점수를 입력하세요 : '))
student['수학점수'] = int(input('수학 점수를 입력하세요 : '))

print(student)

{'이름': '크롱', '나이': 7, '국어점수': 10, '영어점수': 20, '수학점수': 30}

5. 4번 문제에서 만든 딕셔너리 데이터에 총점 데이터를 추가하시오. 총점 데이터는 국어,영어, 수학점수의 합으로 들어가야합니다.

In [3]:
#5번 문제 풀이 작성
student['총점'] = student['국어점수'] + student['영어점수'] + student['수학점수']
print(student)

{'이름': '크롱', '나이': 7, '국어점수': 10, '영어점수': 20, '수학점수': 30, '총점': 60}

6. 아래 딕셔너리 데이터에 stu_grade라는 키를 추가하고, 해당 키의  데이터로  점수(stu_score)에 따른 등급 데이터를 저장하시오.  
90 <= 점수      : A등급  
80 <= 점수 < 90 : B등급  
70 <= 점수 < 80 : C등급  
      점수 < 70 : D등급

In [6]:
class_room_data = {
    'stu_no' : [1, 2, 3, 4, 5],
    'stu_name' : ['김자바', '이자바', '박자바', '최자바', '정자바'],
    'stu_score' : [85, 65, 70, 80, 95]
}

#6번 문제 풀이 작성
score = student['총점']

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'

student['stu_grade'] = grade
print(student)

{'이름': '크롱', '나이': 7, '국어점수': 10, '영어점수': 20, '수학점수': 30, '총점': 60, 'stu_grade': 'D'}